doctype html
html
  head
    title='Hello'
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    //- This meta tags is for content security policy, otherwise Javascript will not run
    meta(http-equiv="Content-Security-Policy" content="default-src 'self' https://s-usc1c-nss-128.firebaseio.com/; script-src 'self' https://apis.google.com/js/api.js https://www.googleapis.com/identitytoolkit/v3/relyingparty/verifyPassword https://www.gstatic.com/firebasejs/ https://project-hello-69121.firebaseio.com/ http://localhost:3000 'sha256-ACIB33Hl9LVJSjX98OCGHPk/v2R6/jJW0Jcf1Rvk4BI=' *; connect-src http://localhost:3000 ws://localhost:3000 https://www.googleapis.com https://securetokens.googleapis.com/v1 *;")
    link(href='style.css',rel='stylesheet')
    link(href='images/hello-icon.png',rel='icon')
  body
    .app-view
      header
        .logo
          img(src='images/icon.png',class='logo')
        .username
          p Hello Bro
        .user
          ul.authmenu#nav
            li
              a(href='#',id='user-profile') Profile
            li
              a(href='#',id='user-logout') Logout
      main
        .row.conversation-row
          .left.conversation
            ul#chats

          .right
            ul#contacts

      footer
        form#chat-form
          .row
            .left
              input(type='text',name='chat-input',id='chat-input',placeholder='Hello')
            .right
              button='+'
          //- overlay page
      #overlay
        .form-container
          ul.form-header#form-header
            li.active 
              a(href='#login') Login
            li 
              a(href='#signup') Signup
          .form-inner
            #login.form.active
              form#login-form
                label(for='login-email') Email
                input(type='email',name='email',id='login-email',placeholder='you@domain.com')
                label(for='login-password') Password
                input(type='password',name='password',id='login-password',placeholder='your account password')
                .form-submit
                  button(role='submit',id='login-btn',class='submit-btn',value='login') Log in
                p.form-switch Don't have an account?
                  a(href='#',id='signup-link') Sign up
            #signup.form
              form#signup-form
                label(for='username') User Name
                input(type='text',name='username',id='username',placeholder='username')
                label(for='email') Email
                input(type='email',name='email',id='signup-email',placeholder='jane@doe.com')
                label(for='password') Password
                input(type='password',name='password',id='signup-password',placeholder='choose a password')
                .form-submit
                  button(role='submit',id='signup-btn',class='submit-btn',value='signup') Sign up
                p.form-switch Already have an account?
                  a(href='#',id='login-link') Log in
    script(src='https://www.gstatic.com/firebasejs/3.6.4/firebase.js')
    script(src='firebase-config.js')
    script(src='app.js')
